*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}


body {
  background: #17181a !important;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

}

#root{
  background: #17181a ;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.body-archive {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /*background-color: rgba(0, 0, 0, 0.69);	color: #fff !important;*/
  display: flex;
  justify-content: center;
  overflow: hidden;
}


button:focus{
  outline: none;
}

#container > div:focus{
  outline: none !important;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #17181a
}
a:hover{
  transition: all .2s ease-in-out;
  /* transform: translateX(30px); */
  color: rgb(86,124,228);
}

#logo {
  color: white;
  font-family: "Montserrant", sans-serif;
}

.fashion-img {
  height: 70vh;
  flex-basis: 30rem;
}
.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 12;
  display: flex;
  justify-content: center;
}

#drag{
  display: none;
}

.nav-header {
  position: absolute;
  z-index: 12;
  top: 0
}

.wrapper-documentary {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background: black;
}

.documentary {
  width: 100%;
  height: 0vh;

  border-radius: 10px;
  animation: documentary 1.5s 1s ease-in-out forwards;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;

}
.video-documentary {
  border-radius: 10px;
  height: 98%;
  width: 100%;
  opacity:0;
  animation: video-documentary 1s  2.5s forwards;
}
.video-documentary:focus {
  outline: none;
}
@keyframes documentary {
  0% {
      height: 0vh;
      opacity: 0;
      background-color: white;
  }

  20%{
      background-color: rgb(86,124,228)
  }

  100% {
      opacity: 1;
      height: 80%;
      background-color: transparent;
  }
}

@keyframes video-documentary {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


.plyr {
  width: 86%;
  /* z-index to 1 when disabled animation of videostories */
  z-index: 1 !important;
  border-radius: 10px;
}
   
.nav-header {
  min-height: 10vh;
  font-size: 1 rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  z-index: 12;
  transition: all .3s ease;
}
.line1, .line2 {
width: 3rem;
height: 0.2rem;
margin: 0.4rem;
background: white;
pointer-events: none;
}

.main-videostories {
  position: absolute;
  width: 100%;
}

.slide {
  @media screen  and (min-width: 1024px) {
    min-height: 50vh;
    margin-bottom: 10vh; 
    margin-top: 10vh; 
    width: 80%;
  }

  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a ;
}


.hero {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero-title {
width: 50%;
text-align: left;
/*margin: 0 10%;*/
}
.hero-title h2{
  color: white;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
}


.construction h2:first-child {
  color: white;
  font-size: 5rem;
}
.construction h2 {
  color: yellow;
  font-size: 3rem;
}

.landing-desc {
  width: 100%;
  height: 100vh;
  background:  linear-gradient(black, transparent);
}
.text-desc {
  padding: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.text-desc h3 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}


.hero-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position:  relative;
}
/* disabling animaiton */
.hero-desc > p {
  z-index: 1;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}


.hero-img .video1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow:hidden;
  opacity: 0;
  padding: 10px;
}


.fashion-span {
  color: rgb(255, 139, 93)
}
.mountain-span {
  color: rgb(86,124,228)
}
.hike-span {
  color: rgb(167,110,231)
}

.hero-desc h2{
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
}

.hero-desc p{
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: rgb(253,253,253);
}
.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color:white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}


.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 11;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path:  circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3{
  padding: 1rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2{
  font-size: 3rem;
  padding: 2rem 0rem;
}

.contact p{
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img, 
.reveal-text{
  position: absolute;
  width: 100%;
  height: 150%;
  background: #17181a;
  left: 0;
}

/* .cursor {
  transition: all .1s ease-in-out;
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: 75% 75%;
  pointer-events: none;
  transition-property: background, transform, border;
} */

.cursor.nav-active{
  background: rgb(86,124,228);
  transform: scale(3);
  border: .5px solid white;
}

.cursor.explore-active {
  background: white;
  transform: scale(2);
  border: 1px solid white;
}

.cursor-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: .5rem;
  color: black
}
.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: lightblue;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1{
  background: rgb(86,124,228);
}
.t-swipe2{
  background: rgb(167,110,231)
}
.t-swipe3{
  background: rgb(255, 139, 93)
}
.scrollmagic-pin-spacer {
  position: static !important
}

body.hide{
  overflow: hidden;
}

#root.hide{
  overflow: hidden;
}


/* OTHER PAGES */

.fashion1,
.fashion2,
.fashion3,
.fashion4 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position:relative;
}

.fashion2 {
  justify-content: center;
}

.fashion-img {
  height: 100%;
  width: 50%;
  /* flex-basis: rem; */
}


.fashion-text {
  position: relative;
  flex-basis: 25rem;
}
.twin-test {
  height: 100%;
}

video {
  width: 100%;
}

.fashion-img video-first {
  width: 100% !important;
  opacity: 0 !important;
}

.fashion-text h1 {
  font-size: 6rem;
  padding: 1rem 0rem;
}

.fashion1 h1{
  color: rgb(255, 139, 93)
}
.fashion2 h1{
  color: rgb(86,124,228)
}
.fashion3 h1{
  color: rgb(167,110,231)
}

.fashion-text p {
  font-size: 1.5rem;
  margin-bottom: 10rem;
  padding-right: 2vw
}

.fashion-nr {
  font-size: 7rem;
  position: absolute;
  bottom:12%;
  color: red;
  opacity: .1;
}


.fashion-nr-last{
  font-size: 10rem;
  left: 16%;
  bottom:15%;
  color: #d2d2d2;
  opacity: .4;
}

.swipe{
  position: fixed;
  width: 100%;
  height:  100%;
  top: 0;
  left: 0;    
  transform: translateX(-100%);
}

.swipe1{
  background: rgb(59, 59, 59);
  z-index: 3;
}
.swipe2{
  background: rgb(86,124,228);
  z-index: 2;
}
.swipe3{
  background: rgb(255, 255, 255);
  z-index: 1;
}

#container {
  background-image:  linear-gradient(transparent, rgb(0, 0, 0)), url("../assets/img/background-memories.jpg");
  
  /*background: radial-gradient( transparent, black) !important; 
  background-color: rgba(0, 0, 0, 0.69);	color: #fff !important;*/
  overflow: hidden;
  height: 100%;
}


.container-archive:focus {
  outline: none;
  background: radial-gradient( transparent, black);
  background-color: rgba(0, 0, 0, 0.69);	color: #fff;
}

.nav-header {
position: absolute;
  top: 0;
  z-index: 12;
}

.audio-svg {
width: 50% !important;
height: 50% !important;
transition: all .3s ease-in-out;

}

.audio-svg:hover {
border-radius: 10px;
background-color:#dc9b9b ;
padding: 4px;

}


.element {
width: 220px;
height: 160px;
box-shadow: 0px 0px 12px rgba(243, 120, 192, 0.5);
border: 1px solid white;
font-family: Helvetica, sans-serif;
text-align: center;
line-height: normal;
cursor: default;
background-color: white !important;
display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.element:hover {
transition: all .3s ease-in-out;
box-shadow: 0px 0px 12px rgba(214, 91, 128, 0.959);
border: 1px solid rgba(246, 184, 215, 0.75);
transform: translate(-50%, -50%) matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, -1000, 1) skewY(0.20009deg) scale(2.5);
}

.date {
color: black;
font-size: 10px;
padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
color: rgba(241, 42, 42, 0.582);

}
.container {
  min-width: 200px;
width: 80%;
height: 80%;
display: flex;
justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container .number {
position: absolute;
top: 20px;
right: 20px;
font-size: 12px;
color: rgba(241, 42, 42, 0.582);
}


.container .symbol {
position: absolute;
top: 40px;
left: 0px;
right: 0px;
font-size: 40px;
font-weight: bold;
color: rgba(255, 255, 255, 0.75);
text-shadow: 0 0 10px rgba(165, 210, 210, 0.95);

}

.container .details {
position: absolute;
bottom: 15px;
left: 0px;
right: 0px;
font-size: 12px;
color: rgba(241, 42, 42, 0.582);
opacity: 0;
transition: all .3s ease-in-out;
padding: 3px;
}

.container .image-tile {
height: 100%;
width: 100%;
  border-radius: 5px;
}

.container .video-tile {
width: 100%;
height: 100%;
object-fit: fill;
  padding-bottom: 10px;
  border-radius: 5px;


}
.container-tile, .video-tile {
  pointer-events: none;
}
.plyr {
  border-radius: 5px;
}



button {
color: white;
background: transparent;
/* outline: 1px solid rgb(223, 139, 139); */
border: 0px;
padding: 5px 10px;
cursor: pointer;
  font-size: 68%;
  border-radius: 5px;
}

button:hover {
transition: all .3s ease;
background-color: rgb(223, 139, 139);
}


button:active {
color: #000000;
background-color: rgba(0, 255, 255, 0.75);
}

#info {
position: absolute;
top: 0px;
width: 100%;
padding: 10px;
box-sizing: border-box;
text-align: center;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
pointer-events: none;
z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
pointer-events: auto;
}

.dg.ac {
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
position: absolute;
z-index: 2;
top: 0;
left: 0;
width: 100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
background-color: #000000;
color: #ffffff;
}

#overlay > div {
text-align: center;
}

#overlay > div > button {
height: 20px;
background: transparent;
color: #ffffff;
outline: 1px solid #ffffff;
border: 0px;
cursor: pointer;
}

#overlay > div > p {
color: #777777;
font-size: 12px;
}
.open-tile {
  width: 86%;
  height: 80vh;
  position: absolute;
  top: 12%;
  opacity: 0;
  transition: all .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  pointer-events: none;
  flex-direction: column;
  border-radius: 7px;
  margin: 0 7%;
  z-index:11;
}
.media-title {
  color: black;
  height: 6vh;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}
.media-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 90%;
  flex-direction: column;

}
.media-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-img-archive {
  width: 70%;
  height: 100%;
}
.media-img, .media-video, .media-audio {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: 50vh;
}
.media-img:focus, .media-video:focus, .media-audio:focus{
  outline: none;
}
.media-description-container {
display: flex;
color: black;
justify-content: center;
padding: 2% 0;
}

.media-date {
  padding-right: 5%;
}
.media-orgin {
  padding-left: 5%;
}


.button-media {
  width: 98%;
  display: flex;
  justify-content: flex-end;
}
.close-media-button {
  color: black;
  font-size: 30px;
}

.media-file {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.container .plyr {
  height: 100% !important;
  width: 100% !important;
}
.container .plyr__video-embed {
padding-bottom: 0 !important;
}
.container .plyr__video-wrapper--fixed-ratio {
  padding-bottom: 0 !important;
}

.media-file .plyr__video-embed {
  padding-bottom: 0 !important;
}

.media-file .plyr__video-wrapper--fixed-ratio {
  padding-bottom: 0 !important;
}
.container .plyr__controls { display: none !important}
.container .plyr__control{ display: none !important}

.media-file .plyr__controls { display: flex !important}
.media-file  .plyr__control{ display: flex !important}

/* .layer-super {
display: none;
} */
/*? ----------------------------SMALL SCREENS------------------------------------------ */

@media screen and (max-width: 1440px) {
 
main {
  overflow-x: hidden;
  width: 100% !important;
}
.nav-header {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  z-index: 12;
  transition: all .3s ease;
}

.nav-header h1{
  font-size: 1rem;
}


.hero-desc {
    padding: 1.5rem 1rem;
}
.hero-desc h2 {
    font-size: 3rem;
}
.hero-desc p {
  font-size: 1rem;
  padding: 1rem 0rem;
}

.text-split > div {
  font-size: 1.5rem;
}
.fashion1,
.fashion2,
.fashion3,
.fashion4 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  color: white;
  margin-top: 2rem;
  flex-wrap: wrap;
  position:relative;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.fashion-img {
  flex-basis: 30rem;
  height: 70vh;
}



.fashion-text {
  position: relative;
  flex-basis: 35rem;
  width: 10%;
}

.text-scrollable {
  overflow: scroll;
  overflow-x: hidden;
  height: 55vh;
}

.text-scrollable p {
   font-size: 1.5rem;
}

.fashion-img video {
  height: 100%;
  object-fit: cover;
}
.video-square video{
  width: 50vw;
}

.fashion-text h1 {
  font-size: 3rem;
  padding: 1rem 0rem;
}

.fashion2 h1{
  color: rgb(86,124,228)
}
.fashion3 h1{
  color: rgb(167,110,231)
}

.fashion-text p {
  font-size: 2rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}

.fashion-nr {
  font-size: 10rem;
  position: absolute;
  left: 54%;
  bottom:15%;
  color: #d2d2d2;
  opacity: .4;
}
.fashion-nr-last {
  font-size: 6rem;
  position: absolute;
  left: 54%;
  bottom:15%;
  color: #d2d2d2;
  opacity: .4;
}
}

.section-index-memory{
  margin-top: 50px;
}
.memory-section{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10vh;
  flex-wrap: wrap;
} 

.memory-container{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.memory-video-single{
  border-radius: 10px;
}
.text-memory-title{
  text-align: center;
  padding: 1vh 0;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(115, 115, 194);
}

.text-memory-2-title{
  text-align: center;
  padding: 1vh 0;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(85, 221, 180)
}

.memory-text-container{
  display: flex;
  padding: 3vh 0
}

.memory-text {
  color: white;
  padding: 2vh 12vw;
  font-size: 2rem;
}



.memory-nr{
  text-align: right;
  font-size: 3rem;
  color: #e09712;
  padding: 2vw;
}
.main-memory{
  width: 70% !important;
}

/*?----------------------------MOBILE------------------------------------------ */
@media screen and (max-width: 1024px) {
  .body-archive {
      font-family: "Montserrat", sans-serif;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.69);	color: #fff !important;
      display: flex;
      justify-content: center;
      overflow: hidden;
  }
  body {
      overflow-x: hidden;
  }
  #root{
    overflow-x: hidden;
  }
main {
  overflow-x: hidden;
  width: 86%;
  margin: 0;
  /* height: 100vh; */
}
.slide {
    margin-top: 10vh;
    padding: 7vw;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image:  linear-gradient(to left,transparent, black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plyr {
  width: 86%;
  height: 40vh;
  margin: 0 auto;
  border-radius: 10px;
  /* z-index to 1 when disabled animation of videostories */
  z-index: 1 !important;
}

.nav-bar {
  padding:4rem;
}
.slide {
  display: block;
  width: 100% ;
  text-align: center;
}
.hero-desc {
  padding: 0;
}
.hero-title h2{
    font-size: 2rem;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.plyr--video{
    height: 37vh !important;
}
.hero-desc h2 {
  font-size: 1.6rem;
  padding: 1rem 0rem;
}
.hero-desc p {
  padding:  1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.explore {
  width: 60%;
  padding: 1rem;
  text-align: center;
}
.detail-slide {
  width: 100%;
  text-align: center;
}

.layer-super {
  height: 70vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 9%;
  left: 0;
  /* pointer-events: none; */
}

.video-memory-index {
  width: 90% !important;
  height: 60% !important
}

.fashion-text p {
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1rem;
}



.fastion-text h1 {
  padding-top: 4rem;
}
.fashion-nr {
  font-size: 3rem;
}
.nav-bar {
  display: flex;
  top: 0 !important
}
.nav-links {
  font-size: 1rem;
  text-align: center;
}
.contact  {
  display: none;
}
.contact p {
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;
}
.cursor.nav-active{
 display: none;
}

.cursor.explore-active {
 display: none;
}

.cursor-text{
  display: none;
}
.cursor {
display: none;
}

/* video {
  width: 90% !important;
  height: 90%;
} */
.open-tile {
  width: 86%;
  height: 70vh;
  position: absolute;
  top: 12%;
  opacity: 0;
  transition: all .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  pointer-events: none;
  flex-direction: column;
  border-radius: 7px;
  margin: 0 7%;
  z-index:11;
}
.media-container, .media-content {
  width: 95% !important;
}

.memory-text-container{
  flex-direction: column;
}
.memory-text {
  color: white;
  padding:  2vw;
  font-size: 1.5rem;
  min-width: 90%;;
}
}

/*? ----------spinner loader */
.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index: 300;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
.spinner {
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);

  transform-origin: 50% 30%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #66e6ff;
}

.spinner:after {
  border-top-color: #f0db75;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: .1;
  }
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.reveal-text{
  background: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}